<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">F8 online education</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="https://scontent.fsgn8-4.fna.fbcdn.net/v/t39.30808-6/346602698_257814493321953_7305021021963343707_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=_juAyDIa92EAX-Sy4_n&_nc_ht=scontent.fsgn8-4.fna&oh=00_AfCL6ta4DU3w6PGuhPgmboO-O2ecGfh2ALlquOdj51A5iQ&oe=64644C8F" alt="" class="user-avatar">
                        __Khanh__
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/courses/create">Create new course</a>
                        <a class="dropdown-item" href="/me/stored-courses">My courses</a>
                        <a class="dropdown-item" href="/me/stored-posts">My posts</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log out</a> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>