<div class="mt-4">
    <div class="row">

        <div class="col-lg-9">
            <h1> {{course.name}} </h1>
            <p>
                {{course.description}}
                <iframe width="1280" height="711" src="https://www.youtube.com/embed/{{course.videoID}}; web-share" allowfullscreen></iframe>
            </p>
        </div>

        <div class="col-lg-3">

            <button>ĐĂNG KÝ HỌC</button>
        </div>

    </div>
</div>


